In [1]:
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [16]:
df = pd.read_csv("suicide_rates.csv", usecols=["sex", "year", "age", "country", "suicides_no"])
df.head()

for col in ["country", "sex", "age"]:
    df[col] = df[col].astype('category')
    df[col] = df[col].cat.codes
df.head()

   country  year  sex  age  suicides_no
0        0  1987    1    0           21
1        0  1987    1    2           16
2        0  1987    0    0           14
3        0  1987    1    5            1
4        0  1987    1    1            9

In [29]:
data = df[['country', 'year','sex','age']]
target = df[['suicides_no']]

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size=0.1)

In [31]:
lr = LinearRegression(normalize=True)
lr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [32]:
lr.score(X_test, Y_test)

0.033828751931701095

In [34]:
scores = cross_val_score(lr, data, target, cv=7, scoring='neg_mean_squared_error')

In [35]:
scores.mean()

-792928.3127400011

In [36]:
scores.std()

944941.2704828096

In [38]:
scores = cross_val_score(lr,data, target, cv=10, scoring='r2')

In [39]:
scores.mean()

-1.0942993042850395

In [40]:
scores.std()

1.6977580274598523

In [41]:
print('y = ' + str(lr.intercept_) + ' ')

y = [1192.23991032]

In [42]:
for i, c in enumerate(lr.coef_):
          print(str(c) + ' * x' + str(i))

[  3.54494755  -0.61715846 261.64041726  -8.49005255] * x0